h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display";
  font-weight: 400;
}

p,
a,
button,
li,
caption,
label {
  font-family: "Open Sans";
}

p {
  font-size: 18px;
  line-height: 33px;
}

caption {
  font-size: 14px;
}

a {
  font-size: 18px;
  line-height: 33px;
}

button {
  font-size: 18px;
  line-height: 33px;
}

h1 {
  font-size: 47px;
  line-height: 75px;
}

h2 {
  font-size: 37px;
  line-height: 61px;
}

h3 {
  font-size: 29px;
  line-height: 49px;
}

h4 {
  font-size: 23px;
  line-height: 40px;
}

h5 {
  font-size: 18;
  line-height: 33px;
}

ul {
  list-style-type: none;
}

.content {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}

.hero {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 25px;
  margin: 150px;
  padding: 50px;
}

.nav-bar {
  width: 90vw;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: center;
}

.nav-form {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-nav {
  height: 150px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 600px) {
}

.palette {
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-flow: row wrap;
}

.square {
  width: 150px;
  height: 150px;
}

/* taken from https://tympanus.net/Development/CreativeButtons/*/
.btn {
  border: none;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  padding: 25px 60px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
